{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock title %}

{% block main %}
    <form action="passchange" method="post">
        <div class="form-group">
            <input class="form-control" name="pass" type="password" placeholder="Current Password" autofocus>
        </div>
        <div class="form-group">
            <input class="form-control" name="newpass" type="password" placeholder="New Password" autofocus>
        </div>
        <div class="form-group">
            <input class="form-control" name="newpassconf" type="password" placeholder="Confirm New Password" autofocus>
        </div>
        <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Change Password">
        </div>
    </form>
{% endblock main %}