{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock title %}

{% block main %}
    <form action="/sell" method="post" id="sellform">
        <div class="form-group">
            <select class="custom-select" form="sellform" name="symbol" autofocus autocomplete="off" required>
                <option value="" disabled selected hidden> Stock</option>
                {% for stock in stocks %}
                <option value="{{stock["stock"]}}">{{stock["stock"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="shares" placeholder="Number of Shares" autocomplete="off" min="1" required>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
    
{% endblock main %}