@import "bootstrap.min.css";
@import "prism.min.css";

:root {
    --theme-color: #570d0de6;
    background-color: var(--theme-color);
}

body {
    min-height: 100vh;
    background-color: #F6F8FA;
    display: flex;
    flex-direction: column;
    color: var(--theme-color);
}

body.dark {
    background-color: #171717;
}

main {
    margin-left: 1.5%;
    margin-top: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 2%;
    border: 1.5px solid #7171711f;
    padding-left: 2.5%;
    padding-top: 3%;
    padding-right: 2.5%;
    padding-bottom: 1.5%;
}

.navbar {
    background-color: var(--theme-color);
    opacity: 0.93;
}

.page-footer {
    background-color: var(--theme-color);
    font-size: 1em;
    color: white;
    padding: 1.9rem;
    bottom: 0;
    width: 100%;
    opacity: 0.95;
}

.nav-link {
    color: rgb(163, 162, 162);
    transition: color 0.25s ease;
    font-weight: 400;
    outline: none;
}

.nav-link:hover {
    color: #dbdbdb;
    text-decoration: none;
}

.nav-link.nav-active {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

a {
    color: rgb(119, 4, 4);
    text-decoration: none;
    font-weight: 530;
    transition: color 0.30s ease;
}

a:hover {
    color: rgb(202, 5, 5);
    text-decoration: none;
}

.fwimage {
    max-height: 11vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.9;
    transition: opacity 0.25s ease-in;
}

@media only screen and (max-width: 768px) {
    .fwimage {
        max-height: 30vw;
    }
}

.fwimage:hover {
    opacity: 1;
}

.textblock {
    color: black;
    font-size: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: left;
}

#welcome h4 {
    text-align: center;
}

#code-demo-con .samp-title {
    text-align: center;
    margin: 2em;
}

.langname {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    display: block;
}

.codecon {
    max-width: 100%;
}

.hlt {
    transition: background-color 0.25s;
    max-height: 50vh;
}

body.dark pre.hlt {
    background: #222222;
}

.codecon:hover .hlt {
    background-color: #f7f5f5;
}

body.dark .codecon:hover .hlt {
    background-color: #272727;
}

pre {
    text-align: left;
    white-space: pre-line;
    margin-bottom: 0.5rem;
}

.lrow {
    padding-top: 20px;
}

#vertical-spacer {
    flex-grow: 1;
}

.vid-item {
    max-width: 100%;
    margin-left: 0.5%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.embed-responsive {
    max-width: 100%;
    margin-left: 0%;
    background-color: grey;
    border: solid grey 1px;
}

.devres img {
    max-width: 100%;
    transition: scale 0.25s;
}

.devres img:hover {
    scale: 1.05;
}

@media only screen and (min-width: 768px) {
    .vid-item {
        /* max-width: 60%; */
    }
    .embed-responsive {
        max-width: 50%;
    }

    .devres img {
        max-width: 50%;
    }
}

.song-title {
    font-weight: 530;
    color: var(--theme-color);
    opacity: 0.8;
    margin-bottom: 1%;
}

#theme-changer, #dark-toggle {
    color: #fff;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    border-radius: 10%;
    outline: none;
    height: 3em;
    font-size: 0.8em;
    min-width: 6em;
    margin-left: 2em;
}